*$py.class
*.egg
*.egg-info/
*.py[cod]
*.pyc
*.so
*.swo
*.swp
**/.git
.DS_Store
.Python
.data/
.eggs/
.env
.idea/
.installed.cfg
.ipynb_checkpoints
.ipynb_checkpoints/
.venv
.vscode/
ENV/
Thumbs.db" > .gitignore.venv/
__pycache__/
build/
develop-eggs/
dist/
downloads/
echo "# Python
eggs/
env.bak/
env/
lib/
lib64/
outputs/
parts/
sdist/
var/
venv.bak/
venv/
wheels/
